 body {
     overflow-x: hidden;
 }

 @font-face {
     font-family: 'Inter';
     src: url("{{ asset('webfonts/inter.ttf') }}") format('truetype');
     font-weight: normal;
     font-style: normal;
 }

 .inter {
     font-family: 'Inter', sans-serif;
 }

 @font-face {
     font-family: 'PlusJakartaSans';
     src: url("{{ asset('webfonts/PlusJakartaSans.ttf') }}") format('truetype');
     font-weight: normal;
     font-style: normal;
 }

 .plusJakartaSans {
     font-family: 'PlusJakartaSans', sans-serif;
 }

 @font-face {
     font-family: 'Poppins';
     src: url("{{ asset('webfonts/Poppins-Bold.ttf') }}") format('truetype');
     font-weight: normal;
     font-style: normal;
 }

 .poppins {
     font-family: 'Poppins', sans-serif;
 }

 .offer-number {
   color: #000000;
 }

 .badge {
     font-size: 14px;
 }

 .tacos-page {
     background: transparent;
     color: #595C5D;
     border-radius: 8px;
 }

 .toc {

     border-radius: 8px;
 }

 .tacos-page .toc-box {
     top: 20px;

 }

 .toc:hover {
     border: 1px solid #B71422;
 }

 .tacos-page .toc-box,
 .tacos-page .takeaway-box {
     background: rgba(255, 255, 255, 0.04);
     border-radius: 14px;

 }

 .tacos-page h2,
 .tacos-page h3,
 .tacos-page h5 {
     color: black;
     font-size: 24px;
     font-weight: 700;
 }

 .tacos-page p,
 .tacos-page li {
     font-size: 16px;
     font-family: Inter;
     line-height: 1.8;
     color: #595C5D;
 }

 .tacos-page .toc-box li a {
     display: block;
     color: #595C5D;
     text-decoration: underline;
     font-size: 16px;
     margin-bottom: 8px;
     transition: 0.2s;
     font-family: Inter;
 }

 .tacos-page .toc-box a:hover,
 .tacos-page .toc-box a.active {
     color: #B71422;
 }

 .tacos-page hr {
     border-color: #B71422;
     opacity: 1;
 }

 .tacos-page .social-icons a {
     color: #595C5D;
     font-size: 25px;
     text-decoration: none;
 }

 @media (max-width: 991.98px) {
     .tacos-page .toc-box {
         position: relative !important;
         top: 0 !important;
     }
 }
.latest-store-card {
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}
 .hero a {
     font-size: 18px;
 }

 .article-top-title {
     font-size: 20px;
 }

 @media (max-width:380px) {
     .hero a {
         font-size: 25px;
     }

     .article-top-title {
         font-size: 27px;
     }
 }